* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 13px;
    line-height: 16px;
    font-family: Arial, sans-serif;
    color: #656565;
	background: #f1f1f1;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-self: center;
}

.cl {
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
}

a img { border: 0; }
a { color: #996666; text-decoration: none; font-size: 13px; }
a:hover { text-decoration: underline; cursor: pointer;}
a.blueback { color: #CCC; text-decoration: none; font-size: 13px; }
a.blueback:hover { text-decoration: underline; cursor: pointer;}

.left { float: left; display: inline; }
.right { float: right; display: inline;} 
.notext {font-size: 0; line-height: 0; text-indent: -4000px;}

.center {display: block; margin: 0 auto;}

.shell {
    margin: 0 auto;
    width: 980px;
}

#heading .shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 25px;
    padding: 10px;
    }

#header {background: url(images/header.gif) repeat-x 0 0; height: 82px;}

h1#logo {float: left; padding-top: 26px;}
h1#logo a {background: url(images/logo.gif) no-repeat 0 0; display: block; width: 278px; height: 55px;}

h2 {font-family: "Myriad Pro", "Trebuchet MS", sans-serif; font-size: 20px; line-height: 20px;}
h3 {font-family: "Myriad Pro", "Trebuchet MS", sans-serif; font-size: 18px; color: #262626;}

#navigation {float: right; padding-top: 0px;}
#navigation ul {list-style-type: none;}
#navigation ul li {display: inline; float:left; padding-right: 2px;}
#navigation ul li a {background: url(images/nav.gif) no-repeat 0 0; padding-left: 37px; height: 27px; display: block; float: left; color: #fff; font-family: tahoma, sans-serif; color: #fff; font-size: 14px;}
#navigation ul li a span {background: url(images/nav.gif) no-repeat right 0; padding-right: 37px; height: 21px; display: block; float: left; padding-top: 6px; line-height: 14px;}
#navigation ul li a:hover, #navigation ul li.active a {text-decoration: none; background-image: url(images/nav-hover.gif); color: #343434;}
#navigation ul li a:hover span, #navigation ul li.active a span {background-image: url(images/nav-hover.gif);}


#heading {
    background: #f1f1f1 url(images/heading-bg.gif) no-repeat center 1px;
    padding:15px 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.heading-cnt {
    /*float: left;*/
    width: 650px;
    padding-top: 26px;
    padding-left: 8px;
}



.heading-cnt ul {
    list-style-type: none;

}

#heading h2 {
    color: #3d49c7;
    padding-bottom: 15px;
    margin-top: 15px;
}

#heading p {padding-bottom: 9px; padding-top:7px;}

#features {background: url(images/features2.gif) repeat-x 0 0; height: 122px; padding-top: 5px;}
.features-cnt {background: url(images/features2.gif) no-repeat 0 0; height: 118px; padding-left: 20px;}
.feature {width: 290px; float: left; padding-top: 6px; padding-right: 30px;}
.less-padding {padding-right: 14px;}
.no-padding {padding-right: 0 !important;}
.feature h2 {color: #fff; padding-bottom: 5px;}
.feature img {padding-right: 6px;}
.feature p {float: left; width: 198px; font-size: 12px; line-height: 15px; color: #fff; height: 71px;}
.feature p span {padding-bottom: 4px; display: block;}
.feature a.more {background: url(images/more.gif) no-repeat 0 0; display: block; float: left; width: 24px; height: 11px;}

#main {background: #e9e9e9; padding-top: 15px;padding-left: 28px; padding-bottom: 37px;}
#main h3 {padding-bottom: 7px;}
#main a {font-weight: bold; color: #96a120; text-decoration: underline; font-size: 11px;}
#main a:hover {text-decoration: none;}
#main a.rss {background: url(images/rss.gif) no-repeat 0 0; width: 11px; height: 11px;}
.link-margin { margin-right: 10px; margin-left: 2px;}
.first-column {width: 297px; float: left; padding-right: 24px;}
.middle-column {width: 312px; float: left; padding-right: 9px;}
.last-column {width: 270px; float: left; padding-left: 8px;}

ul.news {list-style-type: none; padding-bottom: 8px;}
ul.news li {background: url(images/newsitem-bg.gif) repeat-x 0 bottom; padding-top: 6px; padding-bottom: 7px;}
ul.news li small {color: #606d0f; font-size: 11px;}
ul.news li small.grey {color: #656565;}

.contacts {font-size: 12px; }
strong.usa {background: url(images/flag-usa.gif) no-repeat 0 11px; padding-left: 20px; display: block; padding-top: 8px;}
strong.swe {background: url(images/flag-swe.gif) no-repeat 0 11px; padding-left: 20px; display: block; padding-top: 8px;}

#footer {
    background: #e9e9e9 url(images/footer.gif) repeat-x 0 0;
    padding-top: 15px;
    padding-bottom: 50px;
    margin-top: auto;
}
#footer ul {list-style-type: none; float: left; padding-left: 19px; background: transparent;}
#footer ul li {display: inline; float: left; padding-right: 9px;}
#footer ul li a {text-decoration: underline; color: #6e6e6e; font-size: 10px;}
#footer ul li a:hover {text-decoration: none;}
#footer p.copy {float: right; font-size: 10px; color: #6e6e6e; padding-right: 10px;}


.shell ul,ol { padding-left: 1em}

a.rec {
    border-color: #009900;
    background-color: #009900;
    color: white;
}
a.pr {
    border-color: #99cc99;
    background-color: #99cc99;
    color: white;
}
a.wd {
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

#toggled.active {
    display: block;
}

#toggled {
    display: none;
}

.custom-code{
    width: fit-content
}

.step {
    display: none;
}

.step.active {
    display: block;
    border: 2px solid #e0e0e0;
    border-radius: 15px 50px;
    padding: 10px;
}

.stepquery {
    display: flex;
    flex-direction: column;
}

.stepquery #buttons {
    display: flex;
    flex: 1;
}

.stepquery #buttons button {
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.stepquery #buttons #info-btn {
    border-radius: 50px;
    width: 40px;
    background-color: #386bd8;
}

.stepquery #buttons button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.stepquery #buttons button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.25s;
}
.stepquery #buttons button:hover {
    background-color: #f7c2f9;
}
.stepquery #buttons button:hover span {
    padding-right: 25px;
}
.stepquery #buttons button:hover span:after {
    opacity: 1;
    right: 0;
}

.stepquery #buttons button:disabled {
    background-color: #cccccc;
    border: 4px double #cccccc;
    color: #ffffff;
    cursor: not-allowed;
}

.stepquery pre {
    padding: 0 5px;
}



#desc {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 15px 0 0 0;
}

.collapsible {
    background-color: #d4e1f2;
    color: #444;
    cursor: pointer;
    padding: 6px;
    width: 45%;
    text-align: left;
    outline: none;
    font-size: 12px;
    font-style: italic;
}

.collapsible:hover, .collapsible.active {
    background-color: #adc0d7;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: auto;
    max-height: 400px;
    background-color: #f1f1f1;
}

.content img {
    overflow-y:scroll;
}

.collapse {
    padding-top: 10px;
    padding-bottom: 10px;
}
.hljs.xml {
    max-height: 600px;
    margin: 5px;
    border-radius: 8px;
}

#top  {
    background-color: #cccccc;
    border: 4px double #cccccc;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    transition: all 0.5s;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    float: right;
}

#top:hover {
    background-color: #c2d3f9;
}

strong#inpage  {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #eee;
    color: #1F204FFF;
    padding: 8px;
    text-align: left;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 5px;
    display: block;
}

#subtitle {
    font-size: 1em;
    font-weight: bold;
    color: #1f204f;
    background-color: #f7f7f7;
    width: 50%;
    border-radius: 10px;
}

#uri {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
}

ul.pagelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.page strong, p {
    padding: 5px;
}
.page strong {
    background-color: lightgray;
}

.page:not(input) {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #d1d1d1;
    width: 250px;
    height: fit-content;
}

.page-buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-buttons form {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.page-buttons form input {
    flex-grow: 1;
    cursor: pointer;
    border: none;
    color: white;
    padding: 4px 4px;
    text-decoration: none;
}

.page input {
    background-color: #4473a8;
    transition: 0.5s;
}
.page input:hover {
    background-color: #386bd8;
    transition: 0.5s;
}

#dali {
    background-color: #8a8a8a;
    transition: 0.5s;
}

#dali:hover {
    background-color: #646464;
    transition: 0.5s;
}

.contentlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.contentlist input {
    background-color: #4473a8;
    transition: 0.5s;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 5px;
    transition: 0.5s;
}

.contentlist input:hover {
    background-color: #386bd8;
    cursor: pointer;
    transition: 0.5s;
}